<!doctype html>
<html>
  <head>
    <title>Recipe Mash</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col'>
        <h1 class='jumbotron'>Recipe Mash</h1>
        <form class='form-inline' action='/ingredient' method='POST'>
          <div class='form-group'>
            <input class='form-control' name='ingredient' type='text' placeholder='Enter an ingredient' />
            <input class='btn btn-primary' type='submit' value='Add' />
          </div>
        </form>
        <ul>
          {% for ingredient in ingredients %}
          <li>
            {{ ingredient }}
          </li>
          {% endfor %}
        </ul>
        <form class='form-inine' action='/recipes' method='GET'>
          <input class='btn btn-success' type='submit' value-'Search' />
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
